$call-label-width: 30px !default;

page-login {
    ion-toolbar{
        padding-top: 50px !important;
        height: 106px;
    }
    .phone-number-input,
    .key-input{
        ion-label{
            width: $call-label-width;
            min-width: $call-label-width;
            max-width: $call-label-width;
        }
    }
}
