page-publisher {  
    ion-content{
        background-color: transparent;
    }
    ion-card-header{
        border-bottom: 1px solid #e6e6e6;
    }
    ion-card-content{
        padding-top: 10px !important;
    }
    .card-welcome{
        margin-top: 40px !important;
        padding-top: 300px !important;
        background-position: top center;
        background-image: url("../../assets/image/welcome-illustration.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
