page-publisher {  
    ion-content{
        background-color: transparent;
    }
    ion-card-header{
        border-bottom: 1px solid #e6e6e6;
    }
    ion-card-content{
        padding-top: 10px !important;
    }
}
